.rating-container {
    background: radial-gradient(at top,var(--dark-blue) -10%, var(--background-color) 120%);
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 1rem;
}

.rating-container h1 {
    color: var(--white);
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.rating-container p {
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: var(--paragraph-size);
}

.rating-button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    width: 100%;
    border-radius: calc(var(--border-radius) + 0.7rem);
    padding: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.rating-button:hover {
    background-color: var(--white);
    color: var(--primary-color);
    cursor: pointer;

}

.rating-numbers-container {
    display: flex;
    justify-content: space-between;
    color: var(--paragraph-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.rating-numbers-container div {
    background-color: var(--dark-blue);
    width: 50px;
    height: 50px;
    font-weight: 700;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-numbers-container div:hover {
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}

.rating-numbers-container div.checked {
    background-color: var(--paragraph-color);
    color: var(--white);
}

.rating-container .star-icon {
    background-color: var(--dark-blue);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}